/* RightSideBanner.module.css */
.sideBanner {
  position: fixed; /* 고정 위치 */
  top: 50%; /* 상단 기준 50%만큼 이동하여 중앙 정렬 */
  left: -100px; /* 왼쪽 기준 -100px만큼 이동하여 왼쪽에 숨김 */
  transform: translateY(-50%); /* 세로 중앙 정렬 */
  flex-basis: 10px;
  margin: 0px 20px 0px 0px;
  height: 350px;
  background-color: #f1f1f1; /* 배경색 설정 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
  z-index: 1000; /* 다른 요소들 위에 표시 */
}

.bannerContent {
  padding: 20px; /* 내용에 패딩 추가 */
  flex-grow: 1; /* 남은 공간을 모두 차지 */
}

.banner-content h2,
.banner-content p {
  margin: 0; /* 마진 제거 */
  padding: 10px 0; /* 패딩 추가 */
}
