.searchInputDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.searchInputDiv p {
    font-size: 20px;
}

.searchInputLarge {
    width: 300px;
    height: 50px;
}